<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<!-- Modal for Confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to create this article?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="confirmCreate">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row gx-5 justify-content-center">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-4">
        <div class="card-body p-2 p-sm-5">
          <div class="mb-3 d-flex justify-content-center">
          </div>
          <h5 class="card-title text-center mb-3 fs-2 ">Add Articles</h5>
          <form action="/addArticle" method="POST" enctype="multipart/form-data" id="articleForm">
            <div class="mb-3">
              <label for="headline" class="form-label">Headline</label>
              <input name="headline" type="text" class="form-control" id="headline" required/>
            </div>
            <div class="mb-3">
              <label for="subhead" class="form-label">Subhead</label>
              <input name="subhead" type="text" class="form-control" id="subhead" required/>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea name="content"  class="form-control" id="content" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="imageUpload" class="form-label">Image Upload</label>
              <input name="imageUpload" type="file" class="form-control" id="imageUpload"/>
            </div>
            <div class="d-grid py-2">
              <button type="button" class="btn btn-primary btn-login text-uppercase fw-bold" data-bs-toggle="modal" data-bs-target="#confirmationModal">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/foot.ejs') %>
