<%- include('../partials/head.ejs', {page: "Create new Pin" }) %>

<div class="container pt-5 mt-4" >
  <div class="row gx-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-2 p-sm-5">
            <div class="mb-3 d-flex justify-content-center">
              <img
                class="logo"
                style="height: 10vh"
                src="https://i.ibb.co/XCDcTMs/d40f61d0-37fa-4a12-902c-954acc70dafa.png"
              />
            </div>
            <h5 class="card-title text-center mb-3 fs-5">Log In</h5>
            <!-- Display an error message if there was an issue loggin in the user after submitting the form -->
            <% if (errorMessage) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= errorMessage %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <!-- Create a form to take information and pass it to the pin create POST route -->
            <form action="/login" method="POST">
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input name="email" type="email" class="form-control" id="email">
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input name="password" type="password" class="form-control" id="password">
              </div>
              <div class="d-grid py-2">
                  <button type="submit" class="btn btn-primary btn-login text-uppercase fw-bold">Login</button>
              </div>
          </form>
            <a href="/" class="d-flex justify-content-end link-secondary pt-2" style="text-decoration: none;">Skip</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %> <%- include('../partials/foot.ejs') %>
